
<% for(var i=0; i< projects.length; i++) {%>
		
		<a href="<%= projects[i].URL %>"><h2 ><%= projects[i].Title %></h2></a>
		<table>
		<tr>
		<td style="padding-right:20px">
		<img width="100" margin-right="20" src="<%= projects[i].Logo %>">
		</td>
		<td>
		<p >
			<%= projects[i].Description %>
		<a href="<%= projects[i].URL %>">Learn more...</a>
		</td>
		</tr>
		</table>
		
<% } %>

